name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  alex-g-bot-ci:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub PostgreSQL image
        image: postgres:17
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: prisma
          POSTGRES_DB: alex-g-bot-2
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      DATABASE_URL: postgresql://postgres:prisma@localhost:5432/tests?schema=public

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Initialise environment variables
        run: echo DATABASE_URL="postgresql://postgres:prisma@localhost:5432/tests?schema=public" >> ./.env

      - name: Install dependencies
        run: pnpm install

      - name: Generate Prisma Client
        run: |
          pnpm run migrate-deploy
          pnpm run generate

      - name: Run linting checks
        run: pnpm run lint

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0
